#==================================
# Docker Configuration
#==================================
COMPOSE_BAKE=true
BACKEND_PORT=
FRONTEND_PORT=

#==================================
# Nginx Configuration
#==================================
NGINX_PORT=
NGINX_SSL_PORT=
DOMAIN_NAME_BACKEND=
DOMAIN_NAME_FRONTEND=

#==================================
# Database Configuration
#==================================
MONGO_DB_PORT=
MONGO_DB_PORT_DEFAULT=
MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=