#==================================
# Application Configuration
#==================================
NODE_ENV=development                # development, production, test
PORT=3000                           # Application port
HOST=localhost                      # Host name

#==================================
# Database Configuration
#==================================
DB_HOST=localhost                   # MongoDB host
DB_PORT=27017                       # MongoDB port
DB_NAME=system                      # Database name
DB_USER=                            # Database user
DB_PASSWORD=                        # Database password

#==================================
# Security Configuration
#==================================
JWT_SECRET=                         # JWT signing key
JWT_EXPIRES_IN=24h                  # JWT expiration time

#==================================
# API Configuration
#==================================
API_NAME=                           # API name
RATE_LIMIT=                         # Request per 15 minutes
API_VERSION=                        # API version

#==================================
# Type HASH Key Configuration
#==================================
HASH_TYPE_PUBLIC_KEY=               # Public key hash type
HASH_TYPE_PRIVATE_KEY=              # Private key hash type